<h1>DOTS & BOXES</h1>

<form (keyup.enter)="goToGame()" class="container">
    <label for="rowInput">Broj redova: </label>  
    <input type="number" name="rowInput" id="rowInput" [(ngModel)]="boardService.rowNumber" required min="3" max="10">
    <br>  
    <label for="colInput">Broj kolona: </label>  
    <input type="number" name="colInput" id="colInput" [(ngModel)]="boardService.colNumber" required min="3" max="10">
    <br>
    <label for="oponentType">Selektujte protivnika: </label> 
    <select [(ngModel)]="boardService.selectedOponent" name="oponentType" id="oponentType">
        <option *ngFor="let oponent of oponents" [value]="oponent">{{oponent}}</option>
    </select>
    <br>
    <label *ngIf="boardService.selectedOponent == oponents[1]" for="modType">Selektujte tezinu: </label>  
    <select *ngIf="boardService.selectedOponent == oponents[1]" [(ngModel)]="boardService.selectedMod" name="modType" id="modType">
        <option *ngFor="let mod of mods" [value]="mod">{{mod}}</option>
    </select>
    <br>
    <button type="submit" (click)="goToGame()"><b>IGRAJ!</b></button>    
</form>